<ion-header [style.visibility]="isToolBarHidden ? 'hidden' : 'visible'"
            [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>{{currentChapter?.title || 'Chapter'}}</ion-title>

    <ion-progress-bar *ngIf="isLoading"
                      type="indeterminate"/>
  </ion-toolbar>
</ion-header>

<ion-content (click)="toggleAppBar()"
             (ionScroll)="handleScroll()"
             [fullscreen]="true"
             [scrollEvents]="true">
  <ng-container *ngIf="isError">
    <p class="ion-text-center">Failed to fetch chapter</p>
  </ng-container>

  <ng-container *ngIf="!isError && !isLoading">

    <ng-container *ngIf="this.chapters[0].previous === null; else topScrollTemplate">
      <ion-item class="ion-padding"
                lines="none">
        <ion-label class="ion-text-center">
          <h3>There is no previous chapter</h3>
        </ion-label>
      </ion-item>
    </ng-container>

    <ng-template #topScrollTemplate>
      <ion-refresher
        (ionRefresh)="handleTopReached($event)"
        [pullFactor]="0.5"
        [pullMax]="200"
        [pullMin]="100"
        slot="fixed">
        <ion-refresher-content
          pullingText="Load previous chapter"/>
      </ion-refresher>
    </ng-template>

    <div #chapterElement
         *ngFor="let chapter of chapters"
         [id]="chapter.id">
      <ion-item class="ion-padding"
                lines="none">
        <ion-label class="ion-text-center">
          <p>Current:</p>
          <h3>{{chapter.title}}</h3>
        </ion-label>
      </ion-item>

      <ion-list>
        <ion-item *ngFor="let image of chapter.images; let i = index"
                  lines="none">
          <div #imageElement
               [attr.data-index]="i"
               id="{{chapter.id}}/{{i}}">
            <app-image alt="Page {{i}}" [src]="image" [allowRetry]="true"/>
          </div>

        </ion-item>
      </ion-list>

      <ion-item class="ion-padding"
                lines="none">
        <ion-label class="ion-text-center">
          <p>Previous:</p>
          <h3>{{chapter.title}}</h3>
        </ion-label>
      </ion-item>
    </div>

    <ng-container *ngIf="this.chapters[this.chapters.length - 1].next === null; else bottomScrollTemplate">
      <ion-item class="ion-padding"
                lines="none">
        <ion-label class="ion-text-center">
          <h3>There is no next chapter</h3>
        </ion-label>
      </ion-item>
    </ng-container>

    <ng-template #bottomScrollTemplate>
      <ion-infinite-scroll (ionInfinite)="handleBottomReached($event)">
        <ion-infinite-scroll-content/>
      </ion-infinite-scroll>
    </ng-template>
  </ng-container>
</ion-content>

<ion-footer [style.visibility]="isLoading || isError || isToolBarHidden ? 'hidden' : 'visible'"
            [translucent]="true">
  <ion-toolbar>
    <ng-container *ngIf="!isLoading && !isError">
      <ion-buttons slot="start" class="ion-padding-end">
        <ion-button (click)="handlePreviousPressed()">
          <ion-icon slot="icon-only" name="chevron-back-outline"/>
        </ion-button>
      </ion-buttons>

      <ion-range (ionChange)="handleRange($event)"
                 [max]="this.currentChapter!.images.length - 1"
                 [min]="0"
                 [snaps]="true"
                 [ticks]="true"
                 [value]="currentImageIndex"
                 aria-label="read-status"/>

      <ion-buttons slot="end" class="ion-padding-start">
        <ion-button (click)="handleNextPressed()">
          <ion-icon slot="icon-only" name="chevron-forward-outline"/>
        </ion-button>
      </ion-buttons>
    </ng-container>
  </ion-toolbar>
</ion-footer>