app-image {
  --min-height: 50vh;
  width: 100vw;
}

ion-item {
  --padding-start: 0;
  --inner-padding-start: 0;
  --padding-end: 0;
  --inner-padding-end: 0;
}

ion-button {
  --opacity: 1;
}

ion-range {
  --knob-size: 20px;
  --knob-background: var(--ion-color-primary);
}