#splash-screen {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 999999;
  background-color: var(--ion-background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

svg {
  fill: var(--ion-color-primary);
  width: 50vw;
  height: auto;
}

h1 {
  color: var(--ion-color-primary);
}