// Allow scroll
// https://github.com/ionic-team/ionic-framework/issues/24631#issuecomment-1433727902
ion-modal ion-content::part(scroll) {
  overflow-y: var(--overflow);
  overscroll-behavior-y: contain;
}