<ion-header>
  <ion-toolbar>
    <ion-title>Explore</ion-title>
    <ion-progress-bar *ngIf="isLoadingConnectors"
                      type="indeterminate"/>
  </ion-toolbar>
</ion-header>

<ion-content [forceOverscroll]="false"
             [fullscreen]="true"
             class="ion-padding">
  <ion-refresher
    (ionRefresh)="handleRefresh($event)"
    [pullFactor]="0.5"
    [pullMax]="200"
    [pullMin]="100"
    slot="fixed">
    <ion-refresher-content/>
  </ion-refresher>

  <ng-container *ngIf="isError">
    <p class="ion-text-center">Failed to fetch connectors</p>
  </ng-container>

  <ng-container *ngIf="!isError && !isLoadingConnectors">
    <form (ngSubmit)="searchManga()">
      <ion-searchbar
        [(ngModel)]="searchInput"
        animated="true"
        class="ion-no-padding"
        name="searchInput"
        placeholder="Find a manga"/>
    </form>

    <ng-container *ngIf="mangaList.length > 0 || isLoadingMangas">
      <ion-list>
        <ion-list-header>
          <ion-label>Search Result</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let manga of mangaList"
                  [routerLink]="getMangaLink(manga)">
          <ion-thumbnail slot="start">
            <app-image [alt]="manga.title"
                       [src]="getImageCover(manga)"/>
          </ion-thumbnail>
          <ion-label>
            <h3>{{manga.title}}</h3>
            <p>{{manga.connector | titlecase}}</p>
          </ion-label>
          <ion-icon (click)="handleBookmarkClicked($event, manga)"
                    [name]="storageService.isSaved({connector: manga.connector, id: manga.id }) ? 'bookmark' : 'bookmark-outline'"/>
        </ion-item>

        <ion-item *ngIf="isLoadingMangas">
          <ion-thumbnail slot="start">
            <ion-skeleton-text [animated]="true"/>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text [animated]="true"/>
            </h3>
            <p>
              <ion-skeleton-text [animated]="true"/>
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ng-container>

  </ng-container>
</ion-content>
