<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>Manga</ion-title>

    <ion-buttons *ngIf="!isLoading && !isError"
                 slot="end">
      <ion-button (click)="storageService.toggleSavedManga({connector: manga!.connector, id: manga!.id })"
                  slot="icon-only">
        <ion-icon [name]="storageService.isSaved({connector: manga!.connector, id: manga!.id }) ? 'bookmark' : 'bookmark-outline'"/>
      </ion-button>
    </ion-buttons>

    <ion-progress-bar *ngIf="isLoading"
                      type="indeterminate"/>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"
             class="ion-padding">
  <ion-refresher (ionRefresh)="handleRefresh($event)"
                 [pullFactor]="0.5"
                 [pullMax]="200"
                 [pullMin]="100"
                 slot="fixed">
    <ion-refresher-content/>
  </ion-refresher>

  <ng-container *ngIf="isError; else contentTemplate">
    <p class="ion-text-center">Failed to fetch manga</p>
  </ng-container>

  <ng-template #contentTemplate>
    <ng-container *ngIf="!isLoading; else skeletonTemplate">
      <ion-grid [fixed]="true">
        <ion-row>
          <ion-col size="5">
            <ion-thumbnail>
              <app-image [alt]="manga!.title"
                         [src]="getImageCover()"/>
            </ion-thumbnail>
          </ion-col>
          <ion-col>
            <ion-item lines="none">
              <ion-label class="ion-text-wrap">
                <h1>{{manga!.title}}</h1>
                <h3>{{manga!.connector | titlecase}}</h3>
                <p>{{manga!.status | titlecase}}</p>
                <p *ngIf="manga!.year">{{manga!.year}}</p>
              </ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-item lines="none">
        <ion-label class="ion-text-wrap ion-text-justify ion-no-margin">
          {{manga!.description}}
        </ion-label>
      </ion-item>
    </ng-container>

    <ng-template #skeletonTemplate>
      <ion-grid [fixed]="true">
        <ion-row>
          <ion-col size="5">
            <ion-thumbnail>
              <ion-skeleton-text [animated]="true"/>
            </ion-thumbnail>
          </ion-col>
          <ion-col>
            <ion-item lines="none">
              <ion-label class="ion-text-wrap">
                <h1>
                  <ion-skeleton-text [animated]="true"/>
                </h1>
                <h3>
                  <ion-skeleton-text [animated]="true"/>
                </h3>
                <p>
                  <ion-skeleton-text [animated]="true"/>
                </p>
                <p>
                  <ion-skeleton-text [animated]="true"/>
                </p>
              </ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-item lines="none">
        <ion-label class="ion-no-margin">
          <ion-skeleton-text [animated]="true"/>
        </ion-label>
      </ion-item>
    </ng-template>
  </ng-template>

  <app-chapters-modal [manga]="manga!"/>
</ion-content>
