:host {
  --border-radius: 0;
  --fit: cover;
  --min-height: 0;

  border-radius: var(--border-radius);

  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

ion-skeleton-text {
  min-height: var(--min-height);
  margin: 0;
}

img {
  border-radius: inherit;
  width: 100%;
  height: 100%;
  object-fit: var(--fit);
}

div {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}