<ion-skeleton-text *ngIf="!didLoad && (!didFail || !allowRetry)"
                   [animated]="!didLoad && !didFail"/>

<div *ngIf="didFail && allowRetry">
  <p class="ion-no-margin">Failed to load image</p>
  <ion-button (click)="image.src = src; didFail = false; didLoad = false">Try again</ion-button>
</div>

<img #image
     (error)="didLoad = false; didFail = true;"
     (load)="didLoad = true; didFail = false"
     [alt]="alt"
     [hidden]="!didLoad"
     [src]="src"/>