<ion-header>
  <ion-toolbar>
    <ion-title>Library</ion-title>
    <ion-progress-bar *ngIf="isLoading"
                      type="indeterminate"/>
  </ion-toolbar>
</ion-header>

<ion-content [forceOverscroll]="false"
             [fullscreen]="true"
             class="ion-padding">
  <ion-refresher
    (ionRefresh)="handleRefresh($event)"
    [pullFactor]="0.5"
    [pullMax]="200"
    [pullMin]="100"
    slot="fixed">
    <ion-refresher-content/>
  </ion-refresher>

  <ng-container *ngIf="isError">
    <p class="ion-text-center">Failed to fetch saved mangas</p>
  </ng-container>

  <ng-container *ngIf="!isError && !isLoading">
    <ion-list>
      <ion-item *ngFor="let manga of mangas"
                [routerLink]="getMangaLink(manga)">
        <ion-thumbnail slot="start">
          <app-image [alt]="manga.title"
                     [src]="getImageCover(manga)"/>
        </ion-thumbnail>
        <ion-label>
          <h3>{{manga.title}}</h3>
          <p>{{manga.connector | titlecase}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>
</ion-content>
